.modal {
  position: fixed;
  left: 0;
  top: 0;
  /* position: "fixed" means whole-screen takeover. DOES NOT RELY ON display: flex*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content and align-items: is from display: flex*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Just for the whole transparent back that will eat up whole place*/
}
.modal-contents {
  /* transform: translateY(-80px); */
  height: 150px;
  width: 100%;
  max-width: 300px;
  /* width: max-width: trick - so that it resize small once less than 300px */
  background-color: #2a4544;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* this is a FLEX PROPERTY */
  color: white;
  margin: 10px; /* for mobile, so that theres margins on the square */
}

.modal-contents button {
  padding: 10px;
  background-color: var(--turquoise);
  color: #2a4544;
  border-radius: 5px;
}
